<header>
    <nav class="nav">
        <div class="d-flex justify-content-between">
            <div>
                <h3>To do List Now</h3>
            </div>
            <div>
                <% if  usuario_signed_in? %>
                    <ul class="ul">
                        <li>
                            <%= link_to "Sing out",  destroy_usuario_session_path, method: :delete%>
                        </li>
                        <li>
                            <%= link_to "Dashboard",  atividades_path%>
                        </li>
                    </ul>
                    <% else %>
                        <ul class="ul">
                            <li>
                                <%= link_to "Sing in",  new_usuario_session_path, id: "teste", class: "nav-link"%>
                            </li>
                        </ul>
                <% end %>
            </div>
        </div>
    </nav>
</header>