<header>
    <nav class="nav">
        <div class="d-flex justify-content-between">
            <div>
                <h3>To do List Now</h3>
            </div>
            <div>
                <ul class="ul">
                   <% if usuario_signed_in? %>
                   <li>
                        <%= link_to "Dashboard", atividades_path, class: "mr-10"%>
                    </li>
                    <li>
                        <%= link_to "Sair",  destroy_usuario_session_path, method: :delete%>
                    </li>
                    <% else %>
                        <li>
                            <%= link_to "Logar",  new_usuario_session_path, id: "teste", class: "nav-link"%>
                        </li>
                    <% end %>
                </ul> 
            </div>
        </div>
    </nav>
</header>