<%= render 'home/header' %>
<div class="banner">
    <div class="d-flex a h-100">
        <div class="">
            <p class="p">
                To Do List Now ajuda times de desenvolvimento a se manterem atualizado sobre suas atividades
            </p>
            <div class="w-70">
                <div class="d-flex flex-start mt-1">
                    <input class="form-input">
                    <button class="btn btn-laranja">Receba Noticias</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-branco">
    <p>Desenvolvido por Diogo Alves</p>
</footer>