// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nav {
    background-color: #0099FF;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.ul {
    display: flex;
}

.ul a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.banner {
    height: 85vh;
    background-color: #0099FF;
    color: #fff;
}

.a {
    justify-content: center;
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.h-100 {
    height: 100%;
}

.btn {
    padding: 4px;
    margin-top: 11px;
    margin-left: -4px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}

.btn-laranja {
    background-color: #50A73F;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.p {
    font-size: 25px;
}

.w-70 {
    width: 70%;
    margin: auto;
}

.bg-branco {
    background-color: #fff;
}

footer {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
}

.mr-10 {
    margin-right: 10px;
}